In [9]:
alunos = ["Amanda", "Ana", "Bruno", "João "]
notas = [10,8.5,7.8,8]

alunos [3] #retornar um elemento da lista 

#verificando o tipo de dado

print(type(alunos))
print(type(notas))

#Adicionar um novo elemento
alunos.append("Giovanna")

alunos

#Remover um elemento
alunos.remove("Ana")
alunos

<class 'list'>
<class 'list'>

['Amanda', 'Bruno', 'João ', 'Giovanna']

TUPLAS

In [10]:
valores = (90, 79, 54, 32, 21)
pontos = (100, 94.05, 86.8, 62)

valores[1]=25

TypeError: 'tuple' object does not support item assignment

In [13]:
my_list = [1,2] #criando uma  lista

my_tuple = (1,2) #Criando uma tupla

other_tupla = (3,4) #criando uma tupla

my_list [1] = 3 #subistiuindo um elemnto de uma lista

In [ ]:
#Tratamento de erro vai executar as ações do bloco TRY,caso não haja erro
#Se houver um erro, ele vai executar ações do bloco Except TypeError

try:
    my.tuple[1] = 3
    
except TypeError:
    print("Você não pode modificar um tupla!")

função

In [17]:
def sum_and_product (x,y):
    return (x + y), (x *y)

sum_and_product(10,2)


#com o return não precisa do print

(12, 20)

In [ ]:
s, p = sum_and_product (5,10)#s é 15  p50

Dicionario (dict)

In [25]:
altura= {'Amanda':1.65,'Ana':1.60, 'João': 1.70}
peso = {'Amanda':65, 'Ana':86, 'João':170 }

print(type(altura))
print(type(peso))

print('A altura do João é:',altura['João'])
print('O peso da Amanda é: ',peso ['Amanda'])

<class 'dict'>
<class 'dict'>
A altura do João é: 1.7
O peso da Amanda é:  65

In [31]:
cadastro = {
    'nome' :'Tania',
    'idade':35,
    'fruta':'uva',
    'cor': 'roxa',
    'musica': 'Forró'
}

cadastro ['fruta'] = 'laranja'

cadastro ['sobrenome'] = 'Gomes'
#add campo 

cadastro

{'nome': 'Tania',
 'idade': 35,
 'fruta': 'laranja',
 'cor': 'roxa',
 'musica': 'Forró',
 'sobrenome': 'Gomes'}

In [ ]:
del cadastro ['musica']

cadastro #para apagar

In [ ]:
cadastro.upadte({'nome:'ana'})